[Unit]
Description=rintik api daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory={{rintik_dir}}
ExecStart={{rintik_dir}}/env/bin/gunicorn rintik.wsgi --workers 2 --bind 127.0.0.1:8000 --log-file=logs/gunicorn.log

[Install]
WantedBy=multi-user.target
